@keyframes winner {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}


.box2 {
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.box-sm {
    background-color: #ccffcc;
    padding: 5px;
    border: 5px solid #80ff80;
    text-align: center;

}

.bigger {
    animation-name: winner;
    transform: rotate(360deg);
    background: #9351A6;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;    
}

.rotate {
  transition: all 0.5s ease-in-out;
}

.normal {
    transform: rotate(360deg);
    background: #9351A6;  
}
